<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.winwin.app">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".UI.OtherView.WelcomeActivity"
            android:theme="@style/WelcomeTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>

        <activity
            android:name=".UI.OtherView.WelcomeGuideActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" />

        <!--服务参数配置-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="2709e9ecd629a94cbc6e81cc5e813677" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".UI.SignView.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".UI.SignView.SignUpActivity"
            android:label="@string/title_activity_sign_up2"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".UI.SignView.ForgetPasswordActivity"
            android:label="@string/title_activity_forget_password"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".UI.ListvView.ListvViewActivity"
            android:label="ListvView模式" />

        <activity
            android:name=".UI.ItemDetailView.ParkDetailActivity"
            android:label=""
            android:theme="@style/ItemDetailTheme" />

        <!--我的-->
        <activity
            android:name=".UI.MineView.MyInfoActivity"
            android:label="" />

        <activity
            android:name=".UI.MineView.MyCreditActivity"
            android:label="" />

        <activity
            android:name=".UI.MineView.MyRecommendActivity"
            android:label="" />

        <activity
            android:name=".UI.MineView.MySendActivity"
            android:label="" />

        <activity
            android:name=".UI.MineView.MyCollectActivity"
            android:label="" />

        <activity
            android:name=".UI.MineView.MyMoreActivity"
            android:label="" />

        <activity
            android:name=".UI.EarnMoneyView.EarnMoneyActivity"
            android:label="" />

        <activity
            android:name=".UI.WebView.MyWinwinActivity"
            android:label="" />

        <activity
            android:name=".UI.ItemDetailView.DemandDetailActivity"
            android:label="" />
        <activity
            android:name=".UI.SearchView.SearchParkActivity"
            android:label="" />
        <activity
            android:name=".UI.RoomView.MapActivity"
            android:label=""/>
        <activity
            android:name=".UI.SendView.SendParkActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".UI.SearchView.ParkListActivity"
            android:label="" />
    </application>
</manifest>
